

<h1>My Goals</h1>

<form action="/categories">
  <label for="category">Category</label>
  <input id="category" name="new_category">

  <label for="goal">Goal</label>
  <input id="goal" name="new_goal" placeholder="Amount">

  <label for="small_win">Prize</label>
  <textarea id="small_win" name="new_win" placeholder="Start with an ing verb"></textarea>

  <button>Save</button>

</form>

<hr>

<a href="/savings">Today's savings</a>
